<div class="settings-container">
  <app-navbar />
  <div class="wrapper">
    <p>Settings</p>

    <div class="settings">
      <p>Change your email</p>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="EmailControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            EmailControl.hasError('email') && !EmailControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="EmailControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-flat-button (click)="changeEmail()">Change email</button>
      <!-- Call the method on click -->
    </div>
  </div>
</div>
