<div class="dash-container">
    <app-navbar />
    <div class="wrapper">
        <div class="left-side">
            <p>Greetings: John</p>
            <mat-card appearance="outlined">
                <mat-card-content>
                <mat-card-title>FlexPay balance</mat-card-title>
                <mat-card-subtitle  *ngIf="balance !== null" class="dollar">{{balance}}$</mat-card-subtitle>
                <mat-card-subtitle>Available</mat-card-subtitle>

                <br>

                <button class="transfer-btn" mat-flat-button>Transfer Funds</button>
            </mat-card-content>
              </mat-card>


              <mat-card class="send-money">
                <mat-card-content>
                    <mat-card-title>
                        Want to send money?
                    </mat-card-title>

                    <br>

                    <button class="transfer-btn" mat-flat-button> <mat-icon>wallet</mat-icon> Send money</button>
                </mat-card-content>
              </mat-card>
        </div>

        <div class="right-side">
            <p>right side</p>
        </div>
    </div>
</div>
