<div class="dash-container">
    <app-navbar />
    <div class="wrapper">
        <div class="left-side">
            <mat-card appearance="outlined">
                <mat-card-content>
                <mat-card-title>FlexPay balance</mat-card-title>
                <p>5.50 US$</p>
                <mat-card-subtitle>Available</mat-card-subtitle>

                <br>

                <button class="transfer-btn" mat-flat-button>Transfer Funds</button>
            </mat-card-content>
              </mat-card>
        </div>

        <div class="right-side">
            <p>right side</p>
        </div>
    </div>
</div>
