<mat-toolbar  color="primary">
  <div>
    <button mat-flat-button  routerLink="/home">
      <mat-icon>home</mat-icon>
      <p>Home</p>
    </button>
  
    <button mat-flat-button  routerLink="/home">
      <mat-icon>wallet</mat-icon>
      <p>Home</p>
    </button>
  
    <button mat-flat-button  routerLink="/home">
      <mat-icon>settings</mat-icon>
      <p>Home</p>
    </button>
  </div>
    <span class="spacer"></span>

    
    <button mat-flat-button  routerLink="/home">
      <mat-icon>logout</mat-icon>
      <p>Home</p>
    </button>
  </mat-toolbar>
  